<div class="container">
    <h1>Waiters Available on {{day}}</h1>
    <p> <em>NOTE:</em> Click on a waiter's name to update their working days</p>
    <div class="message">
        <h4 class="success flash">{{messages.success}}</h4>
    </div>
    <div class="dayspanel">
        <ul>
        {{#each waiters}}
            <a href="/waiters/{{username}}"><li>{{username}}</li></a> 
        {{/each}}
        {{#unless waiters}}
            <li>No waiter available</li>
        {{/unless}}
        </ul>
        
    </div>
    {{#if waiters}}
    <form action="/clear/{{day}}" method="post">
        <button type="submit">CLEAR WAITERS</button>
    </form>
    {{/if}}
</div>