<div class="container">
    <h1>Waiters Available on {{day}}</h1>
    <p> <em>NOTE:</em> Click on a waiter's name to update their working days</p>
    <div class="message">
        <h4 class="success flash">{{messages.success}}</h4>
    </div>
    <div class="dayspanel">
        <ul>
        {{#each waiters}}
            <li>
                <div class="row">
                    <div class="col-8-sm">
                        {{username}}
                    </div>
                    <div class="col-4-sm">
                        <form action="" method="post">
                            <input type="hidden" name="user" value="{{username}}">
                            <button type="submit">REMOVE</button>
                        </form>
                    </div>
                    <hr>
                </div>
            </li>
        {{/each}}
        {{#unless waiters}}
            <li>No waiter available</li>
        {{/unless}}
        </ul>
        
    </div>
    {{#if waiters}}
    <form action="/clear/{{day}}" method="post">
        <button type="submit">CLEAR WAITERS</button>
    </form>
    {{/if}}
</div>